div{
    display: block;
}

body{
    font-size:12px;
}

ul,div{
    margin:0;
    padding:0;
}
li{
    float:left;
    padding-left:10px;
}
ul{
    list-style:none;
    display:block;
}
.website-name{
    float: left;
}

.mainNav{
    margin-left:80px;
    height:60px;
}
.nav-ul{
    background-color: #a55555;
    height:27px;
}
.nav-ul ul{
    color:#ffffff;
}
.subnav{
    border-color:#665959;
    border-style: solid;
    border-width:1px;
    line-height:27px;

}
.subnav-ul{
    height:27px;
}
.nav{
    line-height:27px;
}

#topbar{
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color: #665959;
    background-color: #fff;
    height:19px;

}

.header{
    height:80px;
    margin-top:12px;
}
.table_list .table_list .table ul{
    position: absolute;
    background_color: #fafbfc;
}
#topbarNav,.header,.game_live{
    width:980px;
    margin-left:auto;
    margin-right:auto;
}

.topbarNav-left{
    float:left;
}
.topbarNav-right{
    float:right;
}
.table_list{
    width:100%;
    height: 140px;
}
.game_live{
    height:1000px;
}
.game_live_content{
    width:70%;
    height:70%;
    border: 1px #f7f7f7 solid;
    background-color: #fdfdfd;
    float:left;
}
.game_comment_box{
    float:right;
    width: 25%;
    height:50%;
}
.block{
    width: 100%;
    height: 25%;
}
.comment_box{
    width:100%;
    height: 200px;
    margin-top:10px;
    padding-bottom: 10px;
    border:1px #efefef solid;
}
.comment_box ul li{
    width:100%;
    height:20px;
    margin:10px 0 0 10px;
    overflow: hidden;
    padding-right:10px;
}
.comment_box .title{
    width:100%;
    background-color: #f4f4f4;
    height: 42px;
    font-size:16px;
    line-height:40px;
    vertical-align: middle;
}
.comment_box .title img{
    vertical-align:middle;
}

.table_list .table_list_c{
    width:70%;
    float:left;
    height:100px;
    margin-left:20px;
    border:1px #f7f7f7 solid;
    background-color: #fafbfd;
    padding: 10px;
}

.table_list .table{
    overflow:hidden;
    border: 1px #f3f3f3 solid;
    border-bottom: 0;
    position: relative;
    height: 100px;
    background-color: #fff;
}

.table_list_c .table ul li{
    float: left;
    width: 13%;
    border-right: 1px #f3f3f3 solid;
    border-bottom: 1px #f3f3f3 solid;
    height:99px;
}
.table_list_left{
    background-image: url(/static/images/left_icon.png);
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    margin-top: 22px;
    cursor: pointer;
    float: left;
}
.table_list_right{
    background-image: url(/static/images/right_icon.png);
    background-repeat: no-repeat;
    width: 69px;
    height: 69px;
    margin-top: 22px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}
.team, .team2{
    margin-top:4px;
    text-align: center;
    height:20px;
}

.team_vs{
    width:100%;
    float:left;
    padding:10px 0px;
    border-bottom: 1px #f3f3f3 solid;
}
.team_vs_box{
    float:left;
    width:100%;
}
.game_box{
    background-color: #fdfdfd;
    border:1px #f7f7f7 solid;
    float: left;
    width:100%;
}
.table_list_c .table ul li p{
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px #f3f3f3 solid;
}

.team_b{
    float:right;
    height:100px;
    margin-right:20px;
}
.team_a{
    float:left;
    height:100px;
    margin-left:20px;
}

.predict_box{
    width:100%;
    height: auto;
    padding:20px 10px 10px 10px;
    float:left;
    border-bottom:1px solid #f3f3f3;
    background-color: white;
}

.predict_title{
    width:100%;
    height:35px;
    text-align: -webkit-center;
    font-size:16px;
    color: #828282;
    margin-bottom:5px;
}
.predict_list{
    width:100%;
    height:auto;
    float: left;
}

.team_a_button,.team_b_button{
    text-align: center;
    float: left;
    line-height: 100%;
    font-size:14px;
    margin-bottom:10px;
    cursor: pointer;
    height:100%;
    margin-left:1%;
    width:48%;
    border: 2px solid;
}

.team_a_button i,.team_b_button i{
    float:left;
    width:100%;
    font-size:16px;
    text-align: center;
    overflow:hidden;
}
.team_a_button b,.team_b_button b{
    float:left;
    width:100%;
    font-size:18px;
    line-height:20px;
    text-align: center;

}

.predict_window{
    width:100%;
    height:220px;
    bottom:0px;
    background-color:black;
    position:fixed;
}

.window{
    width:560px;
    margin:0 auto;
    height:220px;
    bottom:0px;
    background-color:white;
}
.window_head{
    width:100%;
    height:50px;
    line-height: 50px;
    float:left;
    background-color: #e6e4e4;
    color: #FFF;
    text-align: center;
    font-size:16px;
}

.window_body{
    width:300px;
    height: auto;
    background: #ffffff;
    text-align: center;
    margin:0 auto;
}

.window_body .item1{
    max-width:200px;
    height:50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #191919;
    float:left;
}

.window_body .item2{
    float: right;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #eeef09;
}
a{
    text-decoration: none;
}

.container{
    float:left;
}

