div{
    display: block;
}

body{
    font-size:12px;
}

ul,div{
    margin:0;
    padding:0;
}
li{
    float:left;
    padding-left:10px;
}
ul{
    list-style:none;
    display:block;
}
.website-name{
    float: left;
}

.mainNav{
    margin-left:80px;
    height:60px;
}
.nav-ul{
    background-color: #a55555;
    height:27px;
}
.nav-ul ul{
    color:#ffffff;
}
.subnav{
    border-color:#665959;
    border-style: solid;
    border-width:1px;
    line-height:27px;

}
.subnav-ul{
    height:27px;
}
.nav{
    line-height:27px;
}

#topbar{
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color: #665959;
    background-color: #fff;
    height:19px;

}

.header{
    height:80px;
    margin-top:12px;
}
.table_list .table_list .table ul{
    position: absolute;
    background_color: #fafbfc;
}
#topbarNav,.header,.game_live{
    width:980px;
    margin-left:auto;
    margin-right:auto;
}

.topbarNav-left{
    float:left;
}
.topbarNav-right{
    float:right;
}
.table_list{
    width:100%;
    height: 140px;
}
.game_live{
    height:1000px;
}
.game_live_content{
    width:70%;
    height:70%;
    border: 1px #f7f7f7 solid;
    background-color: #fdfdfd;
    float:left;
}
.game_comment_box{
    float:right;
    width: 25%;
    height:50%;
}
.block{
    width: 100%;
    height: 25%;
}
.comment_box{
    width:100%;
    height:35%;
    margin-top:10px;
    padding-bottom: 10px;
    border:1px #efefef solid;
}
.comment_box .title, .comment_box ul li{
    width:100%;
}
.table_list .table_list_c{
    width:70%;
    float:left;
    height:100px;
    margin-left:20px;
    border:1px #f7f7f7 solid;
    background-color: #fafbfd;
    padding: 10px;
}

.table_list .table{
    overflow:hidden;
    border: 1px #f3f3f3 solid;
    border-bottom: 0;
    position: relative;
    height: 100px;
    background-color: #fff;
}

.table_list_c .table ul li{
    float: left;
    width: 13%;
    border-right: 1px #f3f3f3 solid;
    border-bottom: 1px #f3f3f3 solid;
    height:99px;
}
.table_list_left{
    background-image: url(/static/images/left_icon.png);
    background-repeat: no-repeat;
    width: 47px;
    height: 47px;
    margin-top: 22px;
    cursor: pointer;
    float: left;
}
.table_list_right{
    background-image: url(/static/images/right_icon.png);
    background-repeat: no-repeat;
    width: 69px;
    height: 69px;
    margin-top: 22px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}
.team, .team2{
    margin-top:4px;
    text-align: center;
    height:20px;
}

.team_vs{
    width:100%;
    float:left;
    padding:10px 0px;
    border-bottom: 1px #f3f3f3 solid;
}
.team_vs_box{
    float:left;
    width:100%;
}
.game_box{
    background-color: #fdfdfd;
    border:1px #f7f7f7 solid;
    float: left;
    width:100%;
}
.table_list_c .table ul li p{
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-bottom: 1px #f3f3f3 solid;
}

.team_b{
    float:right;
    height:100px;
    margin-right:20px;
}
.team_a{
    float:left;
    height:100px;
    margin-left:20px;
}

a{
    text-decoration: none;
}

.container{
    float:left;
}